.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    .theme-box-btn {
        align-items: center;
    }
    i {
        padding-right: 5px;
    }
    .active {
        background: #32CD32;
    }
    .active:hover {
        background: #006400;
    }
}

.section {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    // margin: 1em;
    margin-right: -45%;
    transform: translate(-50%, -50%)
}
