.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    .theme-box-btn{
        align-items: center;
    }
    .active{
        text-decoration: underline;
        border-bottom: 2px solid #000;
    }
}

.section {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
