<div [ngClass]="isDark ? 'theme-bg--dark' : 'theme-bg--light'">
    <div class="navbar">
        <form [formGroup]="searchForm" (ngSubmit)="startLiveSearch()">
            <div>
                <input type="text" formControlName="searchString" [ngClass]="isDark ? 'theme-input--dark' : 'theme-input--light'" (keyup)="startLiveSearch()">
                <button type="submit" [ngClass]="isDark ? 'theme-btn--dark theme-text--dark' : 'theme-btn--light theme-text--light'">Search</button>
            </div>
            <span *ngIf="warning" style="color: red">Must not null and minimal 2 simvol</span>
        </form>
        <div class="theme-box-btn" >
            <i [ngClass]="isDark ? 'theme-text--dark' : 'theme-text--light'">Theme color:</i>
            <button class="theme-btn--light theme-text--light" [ngClass]="isDark ? '' : 'active'" (click)="toggleTheme(false)">light</button>
            <button class="theme-btn--dark theme-text--dark" [ngClass]="isDark ? 'active' : ''" (click)="toggleTheme(true)">dark</button>
        </div>
    </div>

    <div [ngClass]="isDark ? 'section theme-card--dark theme-text--dark' : 'section theme-card--light theme-text--light'">
        <div *ngIf="!notFound">
            <app-list [dataSource]="listJokes"></app-list>
            <app-pagination [totalPages]="totalPages" [currentPage]="currentPage"
                [totalJokes]="totalJokes" [rangeJokes]="rangeJokes" [isTheme]="isDark">
            </app-pagination>
        </div>
        <div *ngIf="notFound">
            <p class="no-found">No jokes with such a combination of symbols!</p>
        </div>
    </div>

</div>
